/* font-family: 'Work Sans', sans-serif; */

html {
    font-size: 10px;
    font-family: 'Work Sans', sans-serif;

}

section {
    background-color: #ffb084;
    border-radius: 2rem;
    display: grid;
    gap: 1.6rem 2.2rem;
    margin: 0 auto;
    grid-template-columns: minmax(250px, 3fr) 2.3fr 2.3fr;
    padding: 26px 40px 70px 40px;
    width: 70.5rem;
    height: 41.5rem;
}

.grEEd {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 2rem;
    box-shadow: 7px 7px 0px;
}

div:nth-of-type(1) {
 grid-row: 1/15;
}

div:nth-of-type(2) {
    grid-column: 2/4;
    grid-row: 1/6;
}

div:nth-of-type(3) {
    grid-row: 6/11;
    box-shadow: 7px 7px 0px #29A71E;
}
div:nth-of-type(4) {
    grid-row: 6/13;
    box-shadow: 7px 7px 0px #E13535;
}

div:nth-of-type(5) {
    grid-row: 11/20;
    box-shadow: 7px 7px 0px #3675B0;
}
div:nth-of-type(6) {
    grid-row: 15/20;
}
div:nth-of-type(7) {
    grid-row: 13/20;
}

h3 {
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding-top: 2rem;
}

h3 > img {
    padding-top: 2rem;
}

span {
    font-weight: 700;
}

.one > p {
    padding-left: 3rem;
    line-height: 1.4rem;
    font-size: 1.2rem;
}

h4 {
    font-size: 1.45rem;
    padding-left: 3rem;
    margin-bottom: 1rem;
}

.two > p, .seven > p {
    font-size: 1.47rem;
    padding-left: 3rem;
    margin: 0;
    margin-bottom: 1rem;
}

.three > h4 {
 color: #29A71E;
}
li {
    font-size: 1.4rem;
    margin-left: 1.5rem;
}

.five > h4 {
    color: #3675B0;
}

